parameters:
    # You MUST edit the following parameters.
    user_login: "YourLogin"
    password_socks: "YourPasswordSocks"

    # You CAN edit the following parameters
    client_description: "SoulMeMaybe 1.1.4"
    user_location: "Somewhere"

    # You SHOULDN'T edit the following parameters
    server_host: "10.42.1.59"
    server_port: 4242
